{% macro breadcrumbs(breadcrumbs = {}, icon, title, root_path, root_label) %}
<nav role="navigation" aria-label="Breadcrumbs" class="breadcrumbs">
    <h2 class="visually-hidden" id="breadcrumbs-title">{{ title|default('runroomUi.breadcrumbs.title'|trans) }}</h2>
    <ol class="breadcrumbs__list" aria-labelledby="breadcrumbs-title" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link" title="{{ root_label|default('runroomUi.breadcrumbs.root'|trans) }}" href="{{ root_path|default('/') }}" itemscope="" itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name">{{ root_label|default('runroomUi.breadcrumbs.root'|trans) }}</span>
            </a>
            <meta itemprop="position" content="1">
        </li>
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumbs__space" aria-hidden="true">
            {% if icon is not empty %}
            <span class="icon"></span>
            {% else %}
            &gt;
            {% endif %}
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            {% if loop.last %}
            <span class="breadcrumbs__current" itemscope="" itemtype="http://schema.org/Thing" itemprop="item" aria-current="page">
                <span itemprop="name">{{ breadcrumb.title }}</span>
            </a>
            {% else %}
            <a class="breadcrumbs__link" title="{{ breadcrumb.title }}" href="{{ breadcrumb.url|default('#') }}" itemscope="" itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name">{{ breadcrumb.title }}</span>
            </a>
            {% endif %}
            <meta itemprop="position" content="{{ loop.index + 1 }}">
        </li>
        {% endfor %}
    </ol>
</nav>
{% endmacro %}
